template(name='Leaderboard')
  if Template.subscriptionsReady
    table.table.table-striped
      thead
        tr
          th Player
          th Team Name
          th Teams
          th Wins
          th Games
          th +/-
      tbody
        +each teams
          tr
            td= userTeamName
            td= userTeamName
            td= prettyLeagueTeamMascotNames
            td= totalWins
            td= totalGames
            td= totalPlusMinus
  else
    .div Loading...
