template(name="poolsShow")
  h2 Pool

  if Template.subscriptionsReady
    table.table.table-striped
      thead
        tr
          th Player
          th Team Name
          th Teams
          th Wins
          th Games
          th +/-
          th &nbsp;
      tbody
        +each poolTeam in poolTeams
          tr
            td= poolTeam.userTeamName
            td= poolTeam.userTeamName
            td= poolTeam.teamSummary
            td= poolTeam.totalWins
            td= poolTeam.totalGames
            td= poolTeam.totalPlusMinus
            if editAllowed poolTeam
              td
                a(href="{{pathFor 'poolTeamsEdit' poolId=poolId poolTeamId=poolTeam._id}}") Edit

    if isCommissioner
      a(href="{{pathFor 'poolTeamsNew' poolId=poolId}}") Add Player
  else
    div Loading...
